<h3>Welcome <%= @user.username %>!</h3><br>

<%= link_to "Logout", logout_path, method: "delete" %>
<hr>
<h2>Current Chore Lists</h2>

<%=@user.username%>'s assignments
    <!-- now show the tasks. -->
    <%= button_to "New Chore List", new_chore_list_path %>
    
    <% @user.chore_lists.each do |cl| %>
        <h4><%= link_to cl.name, chore_list_path(cl) %></h4>
        <ul>
            <% cl.tasks.each do |t| %>
                <li><%=t.name%><br /><br />
                    <%= t.details%><br />
            <% end %>
        </ul>

    <% end %>
    
