<H2>
    <%=@user.username%>'s assignments
    <!-- now show the tasks. -->
    
    <% @user.chore_lists.each do |cl| %>
        <h4><%= cl.name %>
        - <%= link_to "Edit", edit_chore_list_path(cl) %></h4>
        <ul><!-- This is where I need to use a nested form -->
            <% cl.tasks.each do |t| %>
                <li><%=t.name%><br /><br />
                    <%= t.details%><br />
                    ["Mark Task Complete Button"]
            <% end %>
        </ul>
    <% end %>
</H2>